Set-up

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import os
from statannotations.Annotator import Annotator

In [ ]:
os.getcwd()
#working directory should be /Code/CodeFigure3

'/Users/emilly/Library/CloudStorage/Dropbox/UCSF Nystul Lab/NystulLabRepo/WolfgramAgingOvary/Code/CodeFigure2'

Plotting the frequency of TUNEL band on the Fas3 border in 1 vs 6 week w1118(x)

Note: You will need to run the StatsTUNELw1118.Rmd file first, or annotate out the stats code

In [ ]:
csv_path = "../../Data/DataFigure2/w1118TUNELFas31v6_n.csv"
df = pd.read_csv(csv_path)

In [ ]:
df['Weeks'] = df['Weeks'].map({1: '1 Week', 6: '6 Weeks'})

In [ ]:
df.head(7)

     Weeks  EdU_Avg   n  N  WeekNum
0   1 Week    5.250  19  1        1
1   1 Week    5.590  22  2        1
2   1 Week    6.750  16  3        1
3   1 Week    8.510  41  4        1
4  6 Weeks   15.000  14  1        6
5  6 Weeks   12.930  14  2        6
6  6 Weeks    9.459  37  3        6